mixin storeForm(store = {})
  form(action=`/add/${store. _id || ''}` method="POST" class="card")
    label(for="name") Nom
    input(type="text" name="name" value=store.name)
    label(for="description") Description
    textarea(name="description")= store.description
    <!-- ici le -, indique que ça va être du code JavaScript -->
    - const choices = ['wifi', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed']
    - const tags = store.tags || []
    ul.tags 
      each choice in choices
        .tag.tag__choice  
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Enregistrer -<" class="button")